version: '3'
services:
  container:
    image: opentosca/container:latest
    ports:
      - '1337:1337'
      - '1883:1883' # MQTT
      - '8081-8087:8081-8087'
    environment:
      PUBLIC_HOSTNAME: ${PUBLIC_HOSTNAME_MASTER}
      ENGINE_IA_HOSTNAME: engine-ia
      ENGINE_IA_PORT: 8080
      ENGINE_PLAN: ODE
      ENGINE_PLAN_HOSTNAME: engine-plan
      ENGINE_PLAN_ROOT_URL: http://engine-plan:9763/ode
      ENGINE_PLAN_SERVICES_URL: http://engine-plan:9763/ode/processes
      CONTAINER_REPOSITORY_HOSTNAME: container-repository
      CONTAINER_REPOSITORY_PORT: 8080
      CONTAINER_DEPLOYMENT_TESTS: 'false'
      CONTAINER_JAVA_OPTS: ''
      COLLABORATION_MODE: 'true'
      COLLABORATION_HOSTNAMES: ''
      COLLABORATION_PORTS: ''
    networks:
      - opentosca
  container-repository:
    image: opentosca/winery:latest
    environment:
      WINERY_PORT: 8091
      WORKFLOWMODELER_PORT: 8091
      TOPOLOGYMODELER_PORT: 8091
      WINERY_HOSTNAME: ${PUBLIC_HOSTNAME_MASTER}
      WORKFLOWMODELER_HOSTNAME: ${PUBLIC_HOSTNAME_MASTER}
      TOPOLOGYMODELER_HOSTNAME: ${PUBLIC_HOSTNAME_MASTER}
      CONTAINER_HOSTNAME: container
    ports:
      - '8091:8080'
    networks:
      - opentosca
  ui:
    image: opentosca/ui:latest
    ports:
      - '8088:8080'
    networks:
      - opentosca
  engine-plan:
    image: opentosca/ode:latest
    ports:
      - '9763:9763' # http
    networks:
      - opentosca
  engine-ia:
    image: opentosca/engine-ia:latest
    ports:
      - '8090:8080'
    networks:
      - opentosca
  winery:
    image: opentosca/winery:latest
    environment:
      WINERY_HOSTNAME: ${PUBLIC_HOSTNAME_MASTER}
      WORKFLOWMODELER_HOSTNAME: ${PUBLIC_HOSTNAME_MASTER}
      TOPOLOGYMODELER_HOSTNAME: ${PUBLIC_HOSTNAME_MASTER}
      CONTAINER_HOSTNAME: container
    ports:
      - '8080:8080'
    networks:
      - opentosca
  dind:
    image: jpetazzo/dind:latest
    privileged: true
    environment:
      - PORT=2375
      - DOCKER_DAEMON_ARGS=--dns 8.8.8.8 --dns 8.8.4.4 -D
    networks:
      - opentosca
  proxy:
    build: ../proxy
    cap_add:
      - NET_ADMIN
    ports:
      - '80:80'
    networks:
      - opentosca
networks:
  opentosca:
    driver: bridge